{% extends "layout.html" %}

{% block title %}
    Bracelets
{% endblock %}

{% block main %}
    <h1>Cart</h1><br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Bracelet</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price per bracelet</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart_data %}
                    <tr>
                        <td>{{ product["name"] }}</td>
                        <td>
                            <form action="/update_quantity" method="POST">
                                <input type="hidden" name="product_id" value="{{ product['id'] }}">
                                <input type="number" name="quantity" value="{{ product['quantity'] }}" min="1">
                                <button type="submit">Update</button>
                            </form>
                        </td>
                        <td>${{ product["price"] }}</td>
                        <td>${{ product["quantity"] * product["price"] }}</td>
                        <td>
                            <form action="/remove_product" method="POST">
                                <input type="hidden" name="product_id" value="{{ product['id'] }}">
                                <button type="submit">Remove</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total amount: <strong>${{ total_amount }}</strong></p>
        <p>Cash available: <strong>${{ cash }}</strong></p>
        <button type="submit" name="order" action="/order">Order now</button>
    </div>
{% endblock %}