{% extends "layout.html" %}

{% block title %}
    Bracelets
{% endblock %}

{% block main %}
    <script src="/static/script.js"></script>
    <h1>Bracelets</h1><br>
    <div class="container">
        <div class="row">
        {% for row in rows %}
                <div class="col-sm">
                    <img src="{{ url_for('static', filename=row['id'] ~ '.jpg') }}" alt="1" class="img-thumbnail"><br><br>
                    <p><strong>{{ row['name'] }}</strong></p>
                    <p>{{ row['descr'] }}</p>
                    <p>${{ row['price'] }}</p>
                    <p>Available: {{ row['quantity'] }}</p>
                    <button type="submit" name="addtocart" class="add-to-cart-btn" data-product-id="{{ row['id'] }}" data-product-name="{{ row['name'] }}" data-product-price="{{ row['price'] }}" data-product-quantity="{{ row['quantity'] }}">Add to Cart</button>
                </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}