{% extends "layout.html" %}

{% block title %}
    Bracelets
{% endblock %}

{% block main %}
    <h1>Cart</h1><br>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Bracelet</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price per bracelet</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cart_data %}
                    <tr>
                        <td>{{ product["name"] }}</td>
                        <td>{{ product["quantity"] }}</td>
                        <td>{{ product["price"] }}</td>
                        <td>{{ product["quantity"] * product["price"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Total amount: ${{ total_amount["total_amount"] }}</p>
    </div>
{% endblock %}