{% extends "layout.html" %}

{% block title %}
    Vpis
{% endblock %}

{% block main %}
    <h1>Prijava</h1><br>
    {% if error_msg %}
        <div class="alert alert-danger">
            {{ error_msg }}
        </div><br>
    {% endif %}
    <div class="container">
        <form action="/login" method="POST">
            <label for="username">Uporabniško ime:</label><br>
            <input autocomplete="off" type="text" name="username"><br><br>
            <label for="password">Geslo:</label><br>
            <input type="password" name="password"><br><br>
            <input type="submit" name="submit">
        </form>
    </div>
{% endblock %}