{% extends "layout.html" %}

{% block title %}
    My Profile
{% endblock %}

{% block main %}
    <h1>My Profile</h1><br>
    {% if error_msg %}
        <div class="alert alert-danger">
            {{ error_msg }}
        </div><br>
    {% endif %}

    <div class="container">
        <form action="profile" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Username</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Current info</th>
                    <td>{{ user_data[0]["first_name"] }}</td>
                    <td>{{ user_data[0]["last_name"] }}</td>
                    <td>{{ user_data[0]["username"] }}</td>
                    <td>{{ user_data[0]["email"] }}</td>
                </tr>
                <tr>
                    <th scope="row">New info</th>
                    
                        <td><input type="text" name="fname"></td>
                        <td><input type="text" name="lname"></td>
                        <td><input type="text" name="username"></td>
                        <td><input type="text" name="email"></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" name="submit">Change data</button>
        </form>
    </div>
{% endblock %}